body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container{
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border: 2px solid black;
    text-align: center;
}

input,
select,
button{
    width: 90%;
    padding: 8px;
    margin-top: 5px;
}

button{
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background: darkblue;
}
